# Filetypes
*.py[cod]
# osx file

# local db files
realtalk/db.sqlite3

# Specific Directories
realtalk/staticfiles/

# Ignore docs files
realtalk/assets/.sass-cache
realtalk/assets/.sass-cache/*

# Specific Files
realtalk/settings/dev.py


# celery beat schedule file
celerybeat-schedule


venv/

.DS_Store