@import "compass/utilities/";

/*
 * Globals
 */
 $purple: #823892;
 $amber: #f9e3aa;
 $dark-grey: #4A4A4A;


/* Links */
a,
a:focus,
a:hover {
  color: $purple;
  text-align: center;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * landing page styles
 */

.offer {
  width: 620px;
  margin: auto;
  margin-top: 124px;
  text-align: center;
  p{
    font-size: 36px;
    letter-spacing: 0.4px;
  }
}

.forms {
  p {
    color: $dark-grey;
  }
  .cta {
    font-size: 24px;
    line-height: 33px;
  }
  .label {
    font-size: 18px;
  }
}
body {
  color: $purple;
  background: $amber;
  text-align: center;
  // text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family:Avenir-Medium;
  // font-size:36px;
  margin: 0px;
  padding: 0px;
  .logo {
    margin-top: 97px;
    img{
      // height: 75px;
    }
  }
}